/* Top of page style and background */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
    background-size: cover;
    background-size: contain;
    padding: 0;
    margin: 0;
    overflow-x:hidden
}

/* logo */
.LogoUHtop{
    background-color: red;
    padding: 10px;
    color:white;
    font-size: 10px; 
    
}

.LogoUHtop h1{
    font-size: small;
}

/*Navigation Menu style*/
h2{
    background-color: darkred;
    color:white;
    font-size: xx-large;
    text-align: left;
    margin:0;
    padding:14px;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: darkred;
    
}

li {
    display: inline;
    float:left;
}

/*Dropdown style for Navigation Menu */
li a, .dropbtn {
    display: block;
    color: antiquewhite;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color:white;
    background-color: #c02d2d;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(87, 10, 10);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {background-color: #c02d2d;}
.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #c02d2d;
}

/* contact header styled */
#contact{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 202, 202);
    color: rgb(112, 109, 109);
    padding: 10px;
    margin: 20px auto;
    width: 90%; 
} 

/* Sumbit button styled */
button
{
    font-size: 20px;
    margin: 0 auto;
    display: block;
    color: rgb(86, 137, 77);
    background-color: rgb(196, 227, 150);
    width: 200px;
    height: 40px;
}
button:hover {
    background-color: #45a049; 
    color: rgb(146, 216, 133);
}

/* Highlight style for focused elements */
.highlight {
    background-color: rgb(255, 232, 175);
    border: 2px solid #ceb05e !important; 
    outline: none; 
}

/* footer bottom */
footer {
    padding: 0px;
    background-color: darkred;
    position:fixed;
    bottom:0;
    width: 100%;
    color: white;
}

